window{
}
button {
    font-size: 17px;
    max-width: 30px;
    max-height: 30px;

}

.spookyButton1{
 background-image: url("src/1.png");
}

entry {
    font-size: 20px;
    min-width:160px;
    min-height: 50px;
}
