window{
}
button {
    font-size: 17px;
    max-width: 30px;
    max-height: 30px;

}

.spookyButton1{
    color: transparent;
    background-image: url("src/1.png");
    background-position:center;
    background-repeat:no-repeat;

}

entry {
    font-size: 20px;
    min-width:160px;
    min-height: 50px;
}
