window{
}
button {
    font-size: 17px;
    min-width: 30px;
    min-height: 30px;

}

.spookyButton{
    background-color: purple;
    background-image: none;
    color: black;
    border-radius: 6px;
    border: none;
}

entry {
    font-size: 20px;
    min-width:160px;
    min-height: 50px;
}
