window{
}
button {
    font-size: 17px;
    max-width: 30px;
    max-height: 30px;

}

.spookyButton1{
    color: transparent;
    background-image: url("src/1.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButton2{
    color: transparent;
    background-image: url("src/2.png");
    background-position:center;
    background-repeat:no-repeat;

}

.spookyButton3{
    color: transparent;
    background-image: url("src/3.png");
    background-position:center;
    background-repeat:no-repeat;

}

.spookyButton4{
    color: transparent;
    background-image: url("src/4.png");
    background-position:center;
    background-repeat:no-repeat;

}

.spookyButton5{
    color: transparent;
    background-image: url("src/5.png");
    background-position:center;
    background-repeat:no-repeat;

}

.spookyButton6{
    color: transparent;
    background-image: url("src/6.png");
    background-position:center;
    background-repeat:no-repeat;

}

.spookyButton7{
    color: transparent;
    background-image: url("src/7.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButton8{
    color: transparent;
    background-image: url("src/8.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButton9{
    color: transparent;
    background-image: url("src/9.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButton0{
    color: transparent;
    background-image: url("src/10.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButtonDiv{
    color: transparent;
    background-image: url("src/11.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButtonProd{
    color: transparent;
    background-image: url("src/12.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButtonSub{
    color: transparent;
    background-image: url("src/13.png");
    background-position:center;
    background-repeat:no-repeat;

}
.spookyButtonSum{
    color: transparent;
    background-image: url("src/14.png");
    background-position:center;
    background-repeat:no-repeat;



entry {
    font-size: 20px;
    min-width:160px;
    min-height: 50px;
}
